USE [master]
GO
/****** Object:  Database [CINE PRUEBA]    Script Date: 22/04/2025 18:23:09 ******/
CREATE DATABASE [CINE PRUEBA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CINE PRUEBA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CINE PRUEBA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CINE PRUEBA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CINE PRUEBA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CINE PRUEBA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CINE PRUEBA]
GO
/****** Object:  Table [dbo].[pelicula]    Script Date: 22/04/2025 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pelicula](
	[id_pelicula] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](200) NOT NULL,
	[duracion] [int] NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pelicula_salacine]    Script Date: 22/04/2025 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pelicula_salacine](
	[id_pelicula_salacine] [int] IDENTITY(1,1) NOT NULL,
	[id_sala_cine] [int] NOT NULL,
	[id_pelicula] [int] NOT NULL,
	[fecha_publicacion] [datetime] NOT NULL,
	[fecha_fin] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pelicula_salacine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sala_cine]    Script Date: 22/04/2025 18:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sala_cine](
	[id_sala] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[estado] [nvarchar](50) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pelicula] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[sala_cine] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[pelicula_salacine]  WITH CHECK ADD  CONSTRAINT [FK_pelicula_salacine_sala_cine] FOREIGN KEY([id_sala_cine])
REFERENCES [dbo].[sala_cine] ([id_sala])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pelicula_salacine] CHECK CONSTRAINT [FK_pelicula_salacine_sala_cine]
GO
USE [master]
GO

